.App {
  text-align: center;
}
.navigationBar img {
  width: 150px;
  height: 50px;
}
.navigationBar .container {
  margin-left: 10px;
  margin-right: 0px;
  color: #fff;
  max-width: 95%;
}
.navigationBar .navbar-expand-xl {
  display: flex;
  justify-content: space-between !important;
}
.navigationBar .navbar-collapse {
  flex-grow: unset;
}

.navigationBar .logoTitle {
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.bg-black {
  background-color: #000;
}

.navigationBar a {
  font-size: 18px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
